<div class="page-header">
    <h1>Edit <%= resource_name.to_s.humanize %></h1>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>


<div class="control-group">
	<%= f.label :name, :class => "control-label" %>
	<div class="controls">
		<%= f.text_field :name, :class => "input-xlarge" %>
		<p class="help-block">In addition to freeform text, any HTML5 text-based input appears like so.</p>
	</div>
</div>

<div class="control-group">
	<%= f.label :email, :class => "control-label" %>
	<div class="controls">
		<%= f.text_field :email, :class => "input-xlarge" %>
		<p class="help-block">In addition to freeform text, any HTML5 text-based input appears like so.</p>
	</div>
</div>

<div class="control-group">
	<%= f.label :password, :class => "control-label" %>
	<div class="controls">
		<%= f.password_field :password, :autocomplete => "off", :class => "input-xlarge password" %>
		<p class="help-block">(leave blank if you don't want to change it)</p>
	</div>
</div>

<div class="control-group">
	<%= f.label :password_confirmation, :class => "control-label" %>
	<div class="controls">
		<%= f.password_field :password_confirmation, :autocomplete => "off", :class => "input-xlarge password" %>
		<p class="help-block">(confirm password)</p>
	</div>
</div>

<div class="control-group">
	<%= f.label :current_password, :class => "control-label" %>
	<div class="controls">
		<%= f.password_field :current_password, :class => "input-xlarge password" %>
		<p class="help-block">(we need your current password to confirm your changes)</p>
	</div>
</div>

<div class="form-actions">
	<%= f.submit "Update", :class => "btn btn-primary" %>
</div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

