
<div class="page-title">
	<h1>Leitor LaTeX</h1>
</div>
<div class="row">
	<div class="span6">
		<h2>HTML</h2>
		<div class="translation well lyrics">
			<% if params[:contents] != nil %>
			<%= params[:contents].html_safe %>
			<% end %>
		</div>
	</div>

	<div class="span4 offset1">


	<%= form_tag 'converter', :class => "form-horizotanl" do |f| %>
	<% if params[:contents] %>
		<h2>Detalhes</h2>
		<label for="title">Título</label><input type="text" name="title" id="title"/>
		<label for="number">Número</label><input type="text" name="number" id="number"/>
		<label for="author">Autor</label><input type="text" name="author" id="author"/>
		<textarea name="lyrics" style="display:none">
		 		<% if params[:contents] != nil %>
				<%= params[:contents].html_safe %>
				<% end %>
		</textarea>
		<div class="form-actions">
			<%= submit_tag 'Submeter', :name => "commit" %>
		</div>

	<% else %>
		<h2>LaTeX</h2>
		<textarea name="contents" name="contents" class="span4" rows="10"></textarea>
		<div class="form-actions">
			<%= submit_tag 'Previsualizar', :name => "commit" %>
			<%= submit_tag 'Submeter', :name => "commit" %>
		</div>
	<% end %>
	</div>
</div>
<% end %>