<div class="hero-unit">
	<h1>Um novo psaltério</h1>
	<p>Este sou eu, de cara lavada!.</p>
	<p><a class="btn btn-primary btn-large">Ler mais »</a></p>
</div>

<div class="row">
        <div class="span4">
          <h2>Mais música</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#"><i class="icon-headphones"></i> Ler mais »</a></p>
        </div>
        <div class="span4">
          <h2>Mais social</h2>
           <p>Partilha a tua música preferida no facebook ou twitter! Sabias que podes contribuir para o psaltério? Além de ser um sistema gratuito, o seu código está disponível na internet!</p>
          <p><a class="btn" href="#"><i class="icon-comment"></i> Ler mais »</a></p>
       </div>
        <div class="span4">
          <h2>Mais moderno</h2>
          <p>Ao redesenhar o website do psaltério utilizámos muitas das mais recentes tecnologias. Tudo para que o teu psaltério funcione melhor, e seja mais agradável!</p>
          <p><a class="btn" href="#"><i class="icon-chevron-right"></i> Ler mais »</a></p>
        </div>
</div>