<div class="page-title">
	<h1>Músicas</h1>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Título</th>
		</tr>
	</thead>
<% @songs.each do |song| %>
<tr>
	<td><%= song.number %></td>
	<td><%= link_to song.title, song %></td>
</tr>
<% end %>
</table>

