<div class="page-title">
	<h1> <%= @song.title %>	<small><%= @song.number %></small></h1>
	<h4>Letra e música por <%= @song.author %></h4>
	<small><%= link_to "+ Favorite", "/fav/#{@song.id}", :class => "btn default"%></small>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="well">
			<div class="lyrics">
			  <%= @song.lyrics.html_safe %>
			</div>
		</div>
	</div>
</div>
