<div class="page-title">
<h1><%= t(:sign_in) %></h1>
</div>
<%= form_for resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form form-horizontal" } do |f| %>


<div class="control-group">
	<%= f.label :email, :class => "control-label" %>
	<div class="controls">
		<%= f.text_field :email, :class => "input-xlarge" %>
	</div>
</div>

<div class="control-group">
	<%= f.label :password, :class => "control-label" %>
	<div class="controls">
		<%= f.password_field :password, :class => "input-xlarge" %>
	</div>
</div>

<% if devise_mapping.rememberable? -%>
<div class="control-group">
	<%= f.label :remember_me, :class => "control-label" %>
	<div class="controls">
		<%= f.check_box :remember_me %>
	</div>
</div>
<% end -%>
<div class="actions">
	<%= f.submit "Sign in", :class => "btn btn-primary" %>
</div>
<% end %>

<%= render "links" %>