// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Lato:900,400,900italic);

.lyrics {
	font-family:"Lato", sans-serif;
	margin-top:1em;
}

.lyrics p {
  	font-size: 14pt;
  	line-height: 28pt;
}

.lyrics span {
  position: relative;
  top: -14pt;
  display: inline-block;
  width: 0;
  overflow: visible;
  color: black;
  font-family: sans-serif;
}

div.verse {
	margin-bottom: 40px;
}

.page-title {
	margin-bottom: 40px;
}

.lyrics p.chorus {
	margin-bottom: 20px;
	margin-top: 20px;
}

.well {
	background-color: rgba(245,245,245,0.5);
}