<p>Bem-vindo <%= @resource.email %>!</p>

<p>Pode confirmar a sua conta no link abaixo:</p>

<p><%= link_to 'Confirmar a minha conta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
