<p>Olá <%= @resource.email %>!</p>

<p>Alguém pediu que a password desta conta fosse alterada. Para alterar clique no link abaixo.</p>

<p><%= link_to 'Mudar a minha password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se não pediu isto, por favor ignore este email.</p>
<p>A sua password não será alterada até que aceda ao link acima e crie uma nova.</p>
