<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songbook</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= params[:controller] %>">
  	<div class="container">
  		<div class="page-header" id="banner">
  		        <div class="row">
  		          <div class="col-lg-6">
  		            <h1>Psaltério.net</h1>
  		            <p class="lead">Flat and modern</p>
  		          </div>
  		        </div>
		</div>
		<div class="navbar navbar-default">
		                <div class="container">
		                  <div class="navbar-header">
		                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
		                      <span class="icon-bar"></span>
		                      <span class="icon-bar"></span>
		                      <span class="icon-bar"></span>
		                    </button>
		                    <a class="navbar-brand" href="#">psaltério.net</a>
		                  </div>
		                  <div class="navbar-collapse collapse navbar-responsive-collapse">
		                    <%= tabs %>
		                    <form class="navbar-form navbar-left">
		                      <input type="text" class="form-control col-lg-8" placeholder="Search">
		                    </form>
		                    <ul class="nav navbar-nav navbar-right">
		                      <li><a href="#">Link</a></li>
		                      <li class="dropdown">
		                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
		                        <ul class="dropdown-menu">
		                          <li><a href="#">Action</a></li>
		                          <li><a href="#">Another action</a></li>
		                          <li><a href="#">Something else here</a></li>
		                          <li class="divider"></li>
		                          <li><a href="#">Separated link</a></li>
		                        </ul>
		                      </li>
		                    </ul>
		                  </div><!-- /.nav-collapse -->
		                </div><!-- /.container -->
		              </div>

		<div class="navbar navbar-default">
		        <div class="container">
		        	<div class="navbar-header">
		        	                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
		        	                      <span class="icon-bar"></span>
		        	                      <span class="icon-bar"></span>
		        	                      <span class="icon-bar"></span>
		        	                    </button>
		        	                    <a class="navbar-brand" href="#">Brand</a>
		        	                  </div>
		          <div class="nav-collapse">
					
		          </div><!--/.nav-collapse -->
				     <% if user_signed_in? %>
					 <div class="navbar-text pull-right">
						<div class="btn-group">
						          <a class="btn btn-success" href="#"><i class="icon-user icon-white"></i> <%= current_user.name %></a>
						          <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
						          <ul class="dropdown-menu">
									<%= render 'devise/menu/registration_items' %>
									<%= render 'devise/menu/login_items' %>
						          </ul>
						</div>
					</div>
					<% else %>
					 <div class="navbar-text pull-right">
						<div class="btn-group">
								  <%= link_to user_omniauth_authorize_path(:facebook), :class => "btn btn-info" do %>
							  	  <i class="icon-user icon-white"></i> <%= t(:login_with_facebook) %>
							      <% end %>
						          <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
						          <ul class="dropdown-menu">
									<%= render 'devise/menu/registration_items' %>
									<%= render 'devise/menu/login_items' %>
						          </ul>
						</div>
					</div>
					<% end %>
				
		      </div>
		</div>



        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :class => "alert", :id => "flash_#{name}" if msg.is_a?(String) %>
        <%- end -%>

      <div id="main" role="main">
        <%= yield %>
      </div>
      <footer>
      </footer>
    </div> <!--! end of #container -->
  </body>
</html>